<main [@fadeIn]="{value: 'fadeIn', params: {duration: 1}}">
  <section class="basic-info">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutGap.lt-md="2rem">
      <img class="coverImage" [src]="portfolio.coverImg" alt="cover image for the portfolio">
      <div class="portfolio-info" fxLayout="column" fxLayoutAlign="center left">
        <h1 class="mat-display-1">
          {{portfolio.projectName}}
        </h1>
        <span class="line"></span>
        <ul class="detail mat-small">
          <li>Client: {{portfolio.client}}</li>
          <li>Production Period: {{portfolio.workingPeriod.start | date: 'MMM yyyy'}} -

            <span *ngIf="portfolio.workingPeriod.end.toString() === 'null';else elseBlock">ongoing</span>
            <ng-template #elseBlock>{{portfolio.workingPeriod.end | date: 'MMM yyyy'}}</ng-template>
          </li>
          <li>Responsibilities:
            <ul class="responsibilities">
              <li *ngFor="let r of portfolio.responsibilities">{{r}}</li>
            </ul>
          </li>
          <li>
            <ul class="external-link" fxLayout="row">
              <li *ngIf="portfolio.demoUrl"><a class="link-item" href="{{portfolio.demoUrl}}" target="_blank">
                <span class="fa fa-home"></span>
              </a></li>
              <li><a class="link-item" href="{{portfolio.gitUrl}}" target="_blank">
                <span class="fa fa-github-alt"></span>
              </a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </section>

  <section class="technologies">
    <div class="skills">
      <h2 class="d-none">Technical Skills</h2>
      <div fxLayout="row">
        <div fxFlexAlign="center">
          <div class="icon"><i class="fa fa-code"></i></div>
        </div>
        <ul class="list" fxFlexAlign="center">
          <li class="list-item" *ngFor="let fs of portfolio.skills.front">
            <span class="whitespace"></span>{{fs}}
          </li>
        </ul>
      </div>
      <div fxLayout="row">
        <div fxFlexAlign="center">
          <div class="icon"><i class="fa fa-database"></i></div>
        </div>
        <ul class="list" fxFlexAlign="center">
          <li class="list-item" *ngFor="let bs of portfolio.skills.back">
            <span class="whitespace"></span>{{bs}}
          </li>
        </ul>
      </div>
      <div fxLayout="row">
        <div fxFlexAlign="center">
          <div class="icon"><i class="fa fa-cubes"></i></div>
        </div>
        <ul class="list" fxFlexAlign="center">
          <li class="list-item" *ngFor="let ot of portfolio.skills.others">
            <span class="whitespace"></span>{{ot}}
        </ul>
      </div>
    </div>
  </section>

  <section class="demo-video">
    <video controls>
      <source [src]="portfolio.demoVideoUrl" type="video/MP4">
      Your browser does not support the video tag.
    </video>
  </section>

  <section class="project-detail">
    <div class="mat-h2">{{portfolio.projectDetail.header}}</div>
    <p *ngFor="let paragraph of portfolio.projectDetail.description">
      {{paragraph}}
    </p>
  </section>

  <section class="action-button">

      <a class="back-button" mat-button color="primary" [routerLink]="'/portfolio'">Back</a>
  </section>


</main>
