@import "../../../custom-theme.scss";

$theme-primary: mat-palette($mat-primary, main, lighter, darker);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

section.description,
.action-button,
.technologies,
.features {
  margin: 10rem auto 3rem;
}
h2 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 0;
}
.line {
  display: block;
  width: 20px;
  height: 1px;
  background-color: #464646;
  margin: 10px 0;
}
.whitespace {
  display: inline-block;
  width: 0.8rem;
}
section.basic-info {
  h1 {
    margin: 0;
  }

  .coverImage {
    max-width: 540px;
    width: 90%;
    border-radius: 2px;
    -webkit-box-shadow: 2px 2px 4px 0px #999;
    -moz-box-shadow: 2px 2px 4px 0px #999;
    box-shadow: 2px 2px 4px 0px #999;
  }
  .portfolio-info {
    margin-left: 2rem;
    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
    }
    .detail {
      ul {
        padding-left: 1rem;
      }
    }
  }
}

section.description {
  p {
    margin-left: 1rem;
  }
}

section.action-button {
  a {
    width: 35%;
  }
}

section.technologies {
  .skills {
    .icon {
      text-align: center;
      border: 3px white solid;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      background-color: mat-color($theme-primary);
      .fa {
        color: #fff;
        font-size: 1rem;
        line-height: 40px;
      }
    }
    .list {
      background-color: #eee;
      border-radius: 3px;
      width: 100%;
      margin: 0.5rem auto;
      padding: 0.5rem 20px;
      position: relative;
      left: -20px;
      z-index: -1;
    }
    .list-item {
      display: inline-block;
    }
  }
}

section.features {
  img {
    width: 220px;
    height: 220px;
    border-radius: 2px;
    -webkit-box-shadow: 2px 2px 4px 0px #999;
    -moz-box-shadow: 2px 2px 4px 0px #999;
    box-shadow: 2px 2px 4px 0px #999;
  }

  .feature {
    margin-bottom: 4rem;
    .description {
      width: 90%;
      .title, p {
        margin: 0;
      }
    }
  }
}

.back-button {
  width: 35%;
  display: block;
  margin: 0 auto;
}
