@import "../../custom-theme.scss";

$theme-primary: mat-palette($mat-primary, main, lighter, darker);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

h1 {
  text-align: center;
}

section {
  margin: 10rem auto 3rem;
}

.d-none {
  display: none;
}

.profile {
  max-width: 750px;
  .photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .button-wrapper {
    text-align: end;
    margin-top: 1rem;
  }
}

.skills {
  .icon {
    text-align: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background-color: mat-color($theme-primary);
    .fa {
      color: #fff;
      font-size: 3rem;
      line-height: 100px;
    }
  }
  .column {
    margin: 0 10%;
    .list {
      width: 150px;
      padding: 0;
      margin: 2rem auto 0rem;
    }
    .list-item {
      text-align: center;
      height: 1.8rem;
      display: block;
      margin-bottom: 0;
    }
  }
}

.experiences {
  h2 {
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 0;
  }
  .column {
    width: 100%;
  }
  ul {
    list-style: none;
    padding: 0rem;
  }
  .schools,
  .companies {
    margin: 1.5rem 0;
    > li {
      border-left: mat-color($theme-accent) solid 1px;
      margin: 1rem;
      padding-left: 1rem;
    }
    .duties {
      margin-top: 0.5rem;
      padding-left: 1rem;
    }
  }
}
