<main>
  <h1 class="mat-display-2" @fadeIn>ABOUT</h1>

  <section class="profile" @slideIn>
    <h2 class="d-none">About Terumi Kusaka</h2>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="1rem" fxLayoutGap="1.5rem">
      <div fxLayout="row" fxLayoutAlign.xs="center" fxLayoutAlign="start center">
        <img class="photo" src="../../assets/images/terumi.jpg" alt="Photo of Terumi Kusaka">
      </div>
      <div>
        <p>
          I am a Web Developer more than 2 years of experience focusing on creating inclusive websites.
        </p>
        <p>
          My previous studies and experiences in community support service fields allow me to develop a strong sense of
          how tools and systems have impacted on people's lifestyles.
        </p>
        <p>
          My goal is to transfer my passion and skills to the web development so that I can empower people through
          modern front-end and back-end technologies.
        </p>
      </div>
    </div>
    <div class="button-wrapper">
      <a href="../../assets/resume20200408.pdf" target="blank" mat-raised-button color="primary">View Resume</a>
    </div>
  </section>

  <section class="skills" [@fadeIn]="{value: 'fadeIn', params: {duration: 1}}">
    <h2>Technical Skills</h2>
    <div fxLayout="row">
      <div fxFlexAlign="center">
        <div class="icon"><i class="fa fa-code"></i></div>
      </div>
      <ul class="list" fxFlexAlign="center">
        <li class="list-item" *ngFor="let fs of frontendSkills">
          <span class="whitespace"></span>{{fs}}
        </li>
      </ul>
    </div>
    <div fxLayout="row">
      <div fxFlexAlign="center">
        <div class="icon"><i class="fa fa-database"></i></div>
      </div>
      <ul class="list" fxFlexAlign="center">
        <li class="list-item" *ngFor="let bs of backendSkills">
          <span class="whitespace"></span>{{bs}}
        </li>
      </ul>
    </div>
    <div fxLayout="row">
      <div fxFlexAlign="center">
        <div class="icon"><i class="fa fa-cubes"></i></div>
      </div>
      <ul class="list" fxFlexAlign="center">
        <li class="list-item" *ngFor="let os of otherSkills">
          <span class="whitespace"></span>{{os}}
      </ul>
    </div>
  </section>

  <section class="experiences" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.xs="0rem" fxLayoutGap="1.5rem"
    [@fadeIn]="{value: 'fadeIn', params: {duration: 1}}">
    <div class="column">
      <h2>Education</h2>
      <ul class="schools">
        <li *ngFor="let e of educations">
          <ul>
            <li>{{e.fieldOfStudy}}</li>
            <li class="mat-small">{{e.schoolName}}, {{e.schoolLocation}}</li>
            <li class="mat-small">{{e.start | date: 'LLL yyyy'}} - {{e.end | date: 'LLL yyyy' }}</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="column">
      <h2>Work Experience</h2>
      <ul class="companies">
        <li *ngFor="let w of workExperiences">
          <ul>
            <li>{{w.title}}</li>
            <li class="mat-small">{{w.companyName}}, {{w.companyLocation}}</li>
            <li class="mat-small">{{w.start | date: 'LLL yyyy'}} - {{w.end | date: 'LLL yyyy' }}</li>
            <ul class="duties">
              <li *ngFor="let duty of w.duties">
                &#8226;<span class="whitespace"></span>{{duty}}
              </li>
            </ul>
          </ul>
        </li>
      </ul>
    </div>
  </section>

</main>
