@import "../../custom-theme.scss";

$theme-primary: mat-palette($mat-primary, main, lighter, darker);

h1 {
  text-align: center;
}
h2 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 0;
}
section {
  margin: 10rem auto 3rem;
}
.whitespace {
  display: inline-block;
  width: 0.8rem;
}
.d-none {
  display: none;
}

.profile {
  max-width: 750px;
  .photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .button-wrapper {
    text-align: end;
    margin-top: 1rem;
  }
}

.skills {
  .icon {
    text-align: center;
    border: 3px white solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: mat-color($theme-primary);
    .fa {
      color: #fff;
      font-size: 1rem;
      line-height: 40px;
    }
  }
  .list {
    background-color: #eee;
    border-radius: 3px;
    width: 100%;
    margin: 0.5rem auto;
    padding: 0.5rem 20px;
    position: relative;
    left: -20px;
    z-index: -1;
  }
  .list-item {
    display: inline-block;
  }
}

.experiences {
  .column {
    width: 100%;
  }
  ul {
    list-style: none;
    padding: 0rem;
  }
  .schools,
  .companies {
    margin: 1.5rem 0;
    > li {
      margin: 1rem;
      padding-left: 1rem;
    }
    .duties {
      margin-top: 0.5rem;
      padding-left: 1rem;
      > li {
        margin-bottom: 0.4rem;
      }
    }
  }
}
