<!-- <main>
  <header class="mat-display-2">ABOUT</header>

  <section class="flex-container">
    <div class="flex-item col-sm-center">
      <img class="profile-photo" src="../../assets/images/terumi.jpg" alt="Photo of Terumi Kusaka">
    </div>
    <div class="flex-item">
      <p>
        I am a Web Developer focusing on creating inclusive websites and currently finishing my post-graduate
        certificate in Web Development at Humber College.
      </p>
      <p>
        My previous studies and experiences in community support service fields allow me to develop a strong sense of
        how tools and systems have impacted on people's lifestyles.
      </p>
      <p>
        My goal is to transfer my passion and skills to the web development so that I can empower people through modern
        front-end and back-end technologies.
      </p>
    </div>

  </section>



</main> -->
<div class="container">
  <div class="item item1">1</div>
  <div class="item item2">2</div>
  <div class="item item3">3</div>
  <div class="item item4">4</div>
  <div class="item item5">5</div>
 </div>
