<mat-card class="list-item">
  <mat-card-header @slideIn>
    <mat-card-title>{{portfolio.projectName}}</mat-card-title>
    <mat-card-subtitle>
      <span class="skill" *ngFor="let s of portfolio.featuredSkills">{{s}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <a [routerLink]="[portfolio.id]" @slideIn>
    <img mat-card-image [src]="portfolio.coverImg" alt="Photo of a portfolio.">
  </a>
  <mat-card-content @slideIn>
    <p>
      {{ portfolio.projectDetail.header}}
    </p>
  </mat-card-content>
  <mat-card-actions fxLayout="column">
    <a class="details-button" @slideIn
      mat-flat-button color="primary" [routerLink]="[portfolio.id]">Details</a>
    <div fxLayout="row" @slideIn
      class="action-buttons">
      <a *ngIf="portfolio.demoUrl" href="{{portfolio.demoUrl}}" target="_blank" mat-stroked-button fxFlex color="primary">Demo</a>
      <a href="{{portfolio.gitUrl}}" target="_blank" mat-stroked-button fxFlex color="primary">Git</a>
    </div>
  </mat-card-actions>
</mat-card>
