mat-card {
  height: 520px;
  width: 300px;
  margin: 1rem;
  mat-card-header{
    margin-bottom: 0.8rem;
    mat-card-subtitle{
      span:after
      {
        content: ', ';
      }
      span:last-child:after
      {
        content: '';
      }
    }
  }
  .skill {
    display: inline;
    margin-right: 0.5rem;
  }
  mat-card-actions {
    position: absolute;
    bottom: 2rem;
    width: 98%;
    .details-button {
      width: 97.5%;
    }
    .action-buttons {
      margin-top: 0.5rem;
    }
  }
}
