mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  padding: 4rem 3rem;
  width: 300px;
}

.list-item {
  margin-top: 1rem;
}

.outlet-wrapper {
  padding: 1rem;
}

mat-divider {
  margin: 2rem;
}

.hamburger {
  position: fixed;
  right: 0.8rem;
  top: 0.8rem;
  font-size: 1.5rem;
  z-index: 2;
}

.flex-container{
  display: flex;
}

.fa-icon {
  flex-grow: 1;
  display: block;
  text-align: center;
}

.copyright {
  position: absolute;
  right: 1.7rem;
  bottom: 1.7rem;
  color: #888;
}

// Hack for the sidenav focuses the first focusable element upon opening
.dummy {
  position: absolute;
  height: 0;
}
